<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="assets/css/styles.css">

        <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
        <link rel="manifest" href="site.webmanifest">
        <link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

        <title>Luis Lema</title>
    </head>
    <body>
        <header class="header">
            <nav class="nav container">
                <a href="#" class="nav__logo">
                    Luis Lema
                </a>
            </nav>
        </header>

        <main class="main">
            <section class="home">
                <div class="home__container container">
                    <div class="home__img">
                        <img src="assets/img/luis-profile.png" alt="">
                        <div class="home__shadow"></div>
                    </div>
                    <div class="home__data">
                        <span class="home__subtitle">I am Luis Lema</span>
                        <h1 class="home__title">.NET Developer</h1>
                        <p class="home__description">
                            I build desktop applications <br> and perform databases tuning.<br><br>
                        </p>
                        <p class="home__slogan">Performance is not always a must but it is never to much!</p>
                        <a href="https://github.com/lemalcs" target="_blank" class="home__button">
                            Go to Projects
                        </a>
                    </div>
                    
                </div>

                <footer class="home__footer">
                    <span><a href="https://twitter.com/lemalcs" target="_blank"><span class='bx bxl-twitter'></span>@lemalcs</a></span>
                </footer>
            </section>
        </main>

        <script src="assets/js/scrollreveal.min.js"></script>
        <script src="assets/js/main.js"></script>
    </body>
</html>
